@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #1385b9;
}

.bg_img{
    background-image: url('/static/images/interview_ready_bg.png');
/*    background-size: cover;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f3f3fa;
/*    background-size: 100% auto;*/
    background-position: center center; /* Horizontally and vertically centers the background */
}

.centered-image {
  position: absolute;  /* Absolute positioning relative to its nearest positioned ancestor */
  top: 50%;            /* Position the top edge of the image at the center of the parent */
  left: 50%;           /* Position the left edge of the image at the center of the parent */
  transform: translate(-50%, -50%); /* Offset the image back by half its own width and height to center it */
  display: block;      /* Block display to allow for width and height adjustments if needed */
  width: 50vw;         /* Sets width to 50% of the viewport width */
  height: auto;        /* Auto height to maintain aspect ratio */
  min-width: 300px;    /* Minimum width to ensure the image does not become too small */
  max-width: 95%;      /* Limit the maximum width to avoid overflowing the viewport */
}





.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    width: 300px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

input[type="submit"] {
    background: #333;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #555;
}



