{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form action="{{ url_for('login') }}" method="post">
    <input type="text" id="username" name="username" placeholder="Username" required>
    <input type="submit" value="Login">
</form>

<script>
    function loginAs(user_id, name, email) {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', "{{ url_for('login') }}");

        // Hidden field for user_id
        var hiddenUserId = document.createElement('input');
        hiddenUserId.setAttribute('type', 'hidden');
        hiddenUserId.setAttribute('name', 'user_id');
        hiddenUserId.setAttribute('value', user_id);

        // Hidden field for name
        var hiddenName = document.createElement('input');
        hiddenName.setAttribute('type', 'hidden');
        hiddenName.setAttribute('name', 'name');
        hiddenName.setAttribute('value', name);

        // Hidden field for email
        var hiddenEmail = document.createElement('input');
        hiddenEmail.setAttribute('type', 'hidden');
        hiddenEmail.setAttribute('name', 'email');
        hiddenEmail.setAttribute('value', email);

        // Append hidden fields to form
        form.appendChild(hiddenUserId);
        form.appendChild(hiddenName);
        form.appendChild(hiddenEmail);

        // Append form to body and submit
        document.body.appendChild(form);
        form.submit();
    }
</script>





<!DOCTYPE html>
<html lang="">
  <head>
    <meta name="google-signin-client_id" content="542409521294-csq63ed6jvhtmdp944j1cllpb0f6vh8v.apps.googleusercontent.com">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <style type="text/css">
      .hide{
        display: none;
      } 
    </style>
  </head>
  <body>
    <h1>{{ids}}</h1>
    <p>New User?</p>
    <form action="/action_page.php">
  <input type="radio" name="new" onclick="myFunction(this.value)" value="yes">Yes<br>
  <input type="radio" name="new" onclick="myFunction(this.value)" value="no">No<br>
  
  <input class="hide" type="text" id="result">
  <input class="hide" type="submit" value="Submit form">

</form>

    <div id="g_id_onload"
         data-client_id="542409521294-csq63ed6jvhtmdp944j1cllpb0f6vh8v.apps.googleusercontent.com"
         data-context="signin"
         data-auto_prompt="false"
         data-ux_mode="popup"
         data-callback="handleCredentialResponse">
    </div>


    <div class="g_id_signin"
         data-type="standard"
         data-shape="pill"
         data-theme="filled_blue"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left">
    </div>


    <script>
      function myFunction(browser) {
  document.getElementById("result").value = browser;
  const chk = document.getElementById("result").value = browser;
  console.log(chk)
}

      function handleCredentialResponse(response) {
        const responcePayload = decodeJwtResponse(response.credential);
          const name = responcePayload.name
          const id = responcePayload.sub
          const chk = document.getElementById("result").value;
          console.log("ID: " + responcePayload.sub)
          console.log("Full Name: " + responcePayload.name)
          console.log(responcePayload)
          console.log(name)
          loginAs(responcePayload.sub, responcePayload.name, responcePayload.email)

      }

      function decodeJwtResponse(data){
        var tokens = data.split(".")
        return JSON.parse(atob(tokens[1]));
      }
    </script>
  </body>
</html>




{% endblock %}


