<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to My Website</h1>
    <p>This is a simple HTML template.</p>
    <p>Current date and time: {{ current_time }}</p>
    <p>Random number: {{ random_number }}</p>
    <p>Random string: {{ random_string }}</p>
    <p>Random float: {{ random_float }}</p>
    <p>Random integer: {{ random_integer }}</p>
    <p>Random boolean: {{ random_boolean }}</p>
    <p>Random choice from list: {{ random_choice }}</p>
    <p>Random UUID: {{ random_uuid }}</p>
    <p>Random color: {{ random_color }}</p>
  </body>
</html>
